<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         strict="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         syntaxCheck="true"
         backupGlobals="true"
         backupStaticAttributes="false">
    <testsuites>
        <testsuite name="GSSimpleOcr Test Suite">
            <directory>./tests/GSSimpleOcrTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./tests/log/report/"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70" showUncoveredFiles="true" />
        <log type="testdox-html" target="./tests/log/testdox.html" />
        <log type="coverage-clover" target="./tests/log/clover.xml"/>
    </logging>
</phpunit>

